<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355255457708-s18fa7vqatrcsvo53fvstkel7sc6ldtq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355255457708-s18fa7vqatrcsvo53fvstkel7sc6ldtq</string>
	<key>API_KEY</key>
	<string>AIzaSyBbT7Yl6VxL_314BZw7yc3V16PHWDQg74Y</string>
	<key>GCM_SENDER_ID</key>
	<string>355255457708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>mfde-submission</string>
	<key>STORAGE_BUCKET</key>
	<string>mfde-submission.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355255457708:ios:00a76a9a499316e0070c09</string>
</dict>
</plist>